@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EULA</title>
</head>
<body>
    <h1>End User Licence Agreement</h1>
    <p>WIP EULA</p>
</body>
</html>
