@media screen and (max-width: 15em) {
    body .overlayBox h2 {
        display: none;
    }

    #achievementsPanel {
        &.steam {
            height: 6.5em;
        }

        .gameLogo {
           margin-right: 0.2em;
   
           &.steam {
               width: 100%;
               background-size: cover;
               display: block;
               float: none;
           }
       }
    }

    #list {
        &.steam {
            padding-top: 6.5em;
        }
    }

    body .summaryWidget {
        font-size: 0.8em;
        padding-top: 1.2em;
    }

    body #completionHeadline > span.percentage
    {
        padding-left: 0.25em;
        font-size: 1.5em;
    }

    body #completionHeadline img
    {
        width: 2em;
        height: 2em;
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    body #completionHeadline > span.completedCount
    {
        font-size: 1.5em;
    }

    body #completionHeadline > span.totalCount
    {
        font-size: 1em;
    }
}

body {
    margin: 0em;
}

.overlayBox {
    color: black;
    background-color: rgba(190, 190, 190, 1.0);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.overlayBox.collapsed .summaryWidget:hover {
    -webkit-box-shadow: 0em 0em 2em 0.5em rgba(255,255,255,1);
    -moz-box-shadow: 0em 0em 2em 0.5em rgba(255,255,255,1);
    box-shadow: 0em 0em 2em 0.5em rgba(255,255,255,1);
}

.overlayBox.open .summaryWidget
{
    visibility: hidden;
}

.overlayBox.collapsed > .card-container
{
    visibility: hidden;
}

#achievementsPanel
{
    position: fixed;
    width: 100%;
    height: 4em;
    top: 0px;
    overflow: hidden;
    background-color: rgba(190, 190, 190, 1.0);
}

.overlayBox.collapsed > #achievementsPanel
{
    visibility: hidden;
}

.overlayBox.open > .card-container
{
    visibility: visible;
}

.overlayBox.open > #achievementsPanel
{
    visibility: visible;
    max-width: 25em;
    padding-top: 0.2;
}

#completionHeadline
{
    overflow: hidden;
}

#completionHeadline .percentage
{
    font-size: 1.5em;
}

#completionHeadline .completedCount
{
    font-size: 2em;
}

#completionHeadline .percentage
{
    font-size: 2em;
}

#completionHeadline img
{
    width: 2em;
    height: 2em;
    margin-left: 1.5em;
    margin-right: 0.5em;
    vertical-align: text-bottom;
}

.overlayBox h2 {
    font-size: 1.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;

    &.steam {
        font-size: 1.0em;
    }
}

.steam .overlayBox {
    font-size: 1.0em;
}

.card-container {
    padding-top: 0.1em;
    height: 4em;
    float: top;
}

.gameLogo {
    float: left;

    cursor: pointer;

    background-image: url('../../../assets/nuja.png');
    background-position: center;
    background-repeat: no-repeat;

    &.xboxlive {
        height: 4em;
        width: 4em;
        background-size: cover;
        margin-right: 1em;
    }

    &.steam {
        height: 4em;
        width: 8.56em;
        margin-right: 0.5em;
        background-size: contain;
        background-position: top;
    }
}

.summaryWidget {
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    padding-top: 2.0em;
    text-shadow: 0px 0px 0.5em black;
    color: white;
}

#gameLogo {
    width: 100%;
    height: 100%;
}

#showDetails {
    width: 100%;
    height: 1.5em;
    text-align: right;
    vertical-align: bottom;
    cursor: pointer;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 1.5rem;
}

#list {
    padding-top: 4.2em;
    padding-left: 0.5em;
    font-size: 0.9em;
}

#list li {
    min-width: 2em;
    min-height: 2em;
    list-style: none;
    padding-bottom: 1em;
    padding-left: 1.2em;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
}

#list li.completed {
    color: #252525;
    background-image: url('../../../assets/checkbox_true.svg');
}

#list li.notCompleted {
    font-weight: bold;
    background-image: url('../../../assets/checkbox_false.svg');
}

#list .achievementDescription {
    font-size: 0.9em;
    font-weight: normal;
}